<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO Application</title>
</head>
<body>
    <h1>Todo Application</h1>
<div>
    <form action="/tasks" method="post">
        <div>
            <input type="text" name="title" placeholder="Add a new task .... " required>
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
    <th:block th:each="task : ${tasks}">
        <div>
            <span th:text="${task.title}">Task Title</span>
        </div>
    </th:block>
</div>
</body>
</html>